<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{lang.page_title}}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css" />        
        {% if redirect != "" %}
        <meta http-equiv="refresh" content="5;url={{redirect}}" />
        {% endif %}

    </head>
    <body>
        <div id='content'>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>