<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{lang.page_title}}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/style.css" />        
        {% if redirect != "" %}
        <meta http-equiv="refresh" content="5;url={{redirect}}" />
        {% endif %}
		<script>
		window.addEventListener('load', function () {
			document.getElementById('formSubmit').addEventListener('click', function(){
				document.getElementById('overlay-loading').style.display = 'block';
			});
		})			
		</script>
    </head>
    <body>
		<div id='overlay-loading'>
			<div id='overlay-text'>
				<div id='overlay-spinner'></div>
			</div>
		</div>	
        <div id='content'>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>