<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WiFi Login</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		{% if redirect == true %}
		<meta http-equiv="refresh" content="3;url=https://bbc.co.uk" />
		{% endif %}

	</head>
	<body>
		<img class='logo' src='logo.png' />
		<div id='content'>
		{% block body %}{% endblock %}
		</div>
	</body>
</html>