{% extends "skeleton.twig" %}
        {% block body %}
            <h1>Success!</h1>
            
            <div>You're online!</div>
            
            {% if redirect != "" %}
            <div>Redirecting...</div>
            {% endif %}            
        {% endblock %}